* {
  font-family: JetBrainsMono;
  color: #e0def4;
}

#outer-box {
  padding: 20px;
}

#window {
  background: #191724;
  margin: auto;
  padding: 10px;
  border-radius: 15;
  /* border: 2px solid #89b4fa; */
    opacity: 0.9;
}

#input {
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 15;
}

#img {
  margin-right: 6px;
}

#text {
  margin: 2px;
    background: none;
}

#entry {
  padding: 10px;
  border-radius: 15;
  border: none;
}

#entry:selected {
  background-color: #313244;
  outline: none;
  border: none;

}
#img:selected {
    background: none;
}

